@model IEnumerable<Aliquota.Domain.Entities.DTO.TipoProdutoDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTipoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rentabilidade)
            </th>
            <th>
                Operações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTipoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rentabilidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"> Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id"> Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id"> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
