@model IEnumerable<Aliquota.App.ViewModels.PosicaoViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataResgate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAportado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorResgatado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTributado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAporte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataResgate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorAportado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorResgatado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTributado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @if (item.DataResgate is null)
                    {
                        <a asp-controller="Posicoes" asp-action="Resgatar" asp-route-id="@item.Id" class="btn btn-info">Cadastrar Resgate</a>
                    }
                    else
                    {
                        <button disabled class="disabled btn btn-info">Cadastrar Resgatar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
