@model Aliquota.App.ViewModels.PosicaoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PosicaoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataResgate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataResgate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAportado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAportado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorResgatado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorResgatado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTributado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTributado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Voltar para lista</a>
</div>
