@model Aliquota.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentabilidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentabilidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div class="list-group-item-action">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
    <a asp-controller="Posicoes" asp-action="Depositar" class="btn btn-warning">Cadastrar Depósito</a>
</div>
<hr />
<h4>Posições:</h4>
<div>
    <partial name="../Posicoes/_ListaPosicoes" model="@Model.Posicoes" />
</div>
