@model Aliquota.Domain.Models.AplicacaoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AplicacaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAplicada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorFinalBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorFinalBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorImpostoRenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorImpostoRenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLucroLiquido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLucroLiquido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AplicacaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
