@model Aliquota.Domain.Models.AplicacaoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AplicacaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAplicada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorFinalBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorFinalBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorImpostoRenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorImpostoRenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLucroLiquido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLucroLiquido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AplicacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
