@model KinvoEstagio.Models.Cliente

@{
    ViewData["Title"] = "Ir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ir</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Investimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Investimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imposto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imposto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rendimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
