@model Aliquota.Domain.Models.ResultadoFinanceiro

@{
    ViewData["Title"] = "Dados da Aplicação Financeira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dados da Aplicação Financeira</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataResgate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataResgate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAplicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAplicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorRendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpostoDevido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpostoDevido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LucroReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LucroReal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
