@model Aliquota.Domain.Models.ResultadoFinanceiro

@{
    ViewData["Title"] = "Dados da Aplicação Financeira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dados da Aplicação Financeira</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Nome)
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.DataAplicacao)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.DataAplicacao)
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.DataResgate)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.DataResgate)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.ValorAplicado)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.ValorAplicado)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.ValorRendimento)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.ValorRendimento)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.ImpostoDevido)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.ImpostoDevido)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 titulo">
            @Html.DisplayNameFor(model => model.LucroReal)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.LucroReal)
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Cadastro">Back to List</a>
</div>


<style>
    .titulo{
        font-weight:bold;
    }
</style>

