@model IEnumerable<Aliquota.Domain.Models.Product>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">

    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productInvestment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateRescue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productInvestment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRescue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.productId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.productId">Delete</a>
            </td>
        </tr>
            }
    </tbody>

</table> 
