@model Aliquota.Domain.Models.Investimento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Investimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_saida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_saida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
