@model Aliquota.Models.IR

<div>
    <h4>IR</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataResgate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataResgate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lucro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aliquota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aliquota)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
