@model IEnumerable<Aliquota.Domain.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produto Financeiro</h1>

<p>
    <a asp-controller="Produto" asp-action="Create" class="btn btn-primary mr-1">Criar novo produto</a>
</p>

<form asp-controller="Produto"></form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxaRendimentoAnual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxaRendimentoAnual)
                </td>
                <td>
                    <a asp-controller="Produto" asp-action="Edit"
                       class="btn btn-success" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }

    </tbody>
</table>

