@model IEnumerable<Aliquota.MVC.ViewModels.AplicacaoRFViewModel>

@{
    ViewData["Title"] = "Aplicações de Renda Fixa";
}

<h1>Aplicações de Renda Fixa</h1>

<p>
    <a asp-action="Create">Nova aplicação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAplicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataResgate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAplicado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxaJurosAnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AliquotaIR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RendimentoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IRRecolhido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAplicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataResgate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAplicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaJurosAnual)
            </td>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.AliquotaIR)
            </td>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.RendimentoTotal)
            </td">
            <td class="font-weight-bolder text-danger">
                @Html.DisplayFor(modelItem => item.IRRecolhido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
