@model Aliquota.Domain.Models.Application

@{
    ViewData["Title"] = "Resgate";
}

<h1>Resgate</h1>

<h3>Deseja resgatar esta aplicação?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationRescue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationRescue)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicationID" />
        <input type="submit" value="Resgatar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
