@model Aliquota.Domain.Models.Conta

@{
    ViewData["Title"] = "Edit";
}

<h1>Retirar Aplicação</h1>

<div>
    <h4>Dados da Aplicação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCorrente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCorrente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtResgate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtResgate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorResgate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorResgate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
