@model IEnumerable<Aliquota.Application.ViewModels.ContaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Minhas Aplicações</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCorrente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCorrente)
            </td>
            <td>
                @Html.ActionLink("Retirar Valor", "Edit", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
