@model IEnumerable<Aliquota.Domain.Entitys.Invest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestedValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestedValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
