@model IEnumerable<Aliquota.Domain.Models.Investimento>

@{
    ViewData["Title"] = "Index";
}

<h1>Investimentos</h1>

<p>
    <a asp-controller="Investimento" asp-action="Create" class="btn btn-primary">Inserir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInvestimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInvestido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInvestimento)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.ValorInvestido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-controller="Investimento" asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalhes</a>
                    <!-- <a asp-controller="Investimento" asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a> -->
                </td>
            </tr>
        }

    </tbody>
</table>
